.frameInput {
  border: none;
  background-color: transparent;
  width: 85%;
  font-size: 22px;
  padding-left: 15px;
  padding-bottom: 7px;
  border-bottom: 2px solid #999;
  margin-left: 50%;
  transform: translateX(-50%);
}

.group {
  position: relative;
  margin-bottom: 40px;
}


.frameInput:focus ~ .label, .frameInput:valid ~ .input, .frameInput:not(:placeholder-shown) ~ .label {
  top: -15px;
  font-size: 14px;
  color: #ea5a5a;
}

.label {
  font-size: 14px;
  color: #999;
  position: absolute;
  pointer-events: none;
  left: 60px;
  top: 25px;
  transition: 0.2s ease all;
}

.bar {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 85%;
}
.bar:before, .bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 2px;
  position: absolute;
  background: #ea5a5a;
  transition: 0.2s ease all;
}
.bar:before {
  left: 50%;
}
.bar:after {
  right: 50%;
}

.frameInput:focus ~ .bar:before,
.frameInput:focus ~ .bar:after, .input,
.frameInput:not(:placeholder-shown) ~ .bar:after,
.input, .frameInput:not(:placeholder-shown) ~ .bar:before {
  width: 50%;
}

.error {
  position: absolute;
  font-family: Helvetica_Medium;
  font-size: 16px;
  color: red;
  bottom: -45%;
  left: 50%;
  transform: translateX(-50%);
}