.frameInput {
  border: none;
  background-color: transparent;
  width: 100%;
  font-size: 22px;
  padding-left: 15px;
  padding-bottom: 7px;
  border-bottom: 2px solid #999;
  margin-left: 50%;
  transform: translateX(-50%);
}

.group {
  position: relative;
}


.frameInput:focus ~ .label, .frameInput:valid ~ .input, .frameInput:not(:placeholder-shown) ~ .label {
  top: -15px;
  color: #ea5a5a;
}

.label {
  font-size: 14px;
  color: #999;
  position: absolute;
  left: 30px;
  top: 25px;
  transition: 0.2s ease all;
}

.bar {
  position: relative;
  display: block;
  &::after {
    position: absolute;
    height: 2px;
    content: '';
    transform: rotateY(80deg) scale(0);
    transition: transform .2s linear;
    background-color: #ea5a5a;
    width: 100%;
  }
}


.frameInput:focus ~ .bar::after,
.frameInput:focus ~ .bar::after, .input,
.frameInput:not(:placeholder-shown) ~ .bar::after,
.input, .frameInput:not(:placeholder-shown) ~ .bar::after {
  transform: rotateY(0deg) scale(1);
  width: 100%;
}

.error {
  position: absolute;
  font-family: Helvetica_Medium;
  font-size: 16px;
  color: red;
  bottom: -45%;
  left: 50%;
  transform: translateX(-50%);
}