.btn {
  background: #ea5a5a;
  text-transform: uppercase;
  max-width: 160px;
  width: 100%;
  height: 35px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  color: #fff;
  font-family: Helvetica_Bold;
  border-radius: 20px;
  margin-left: 50%;
  transform: translateX(-50%);
}
